<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">
    <div class="filters">
      <button on-tap="toggleCompetitive" class="button primary">
        {{#filterCompetitive}}
          Show all races
        {{/filterCompetitive}}
        {{^filterCompetitive}}
          Show only competitive races
        {{/filterCompetitive}}
      </button>
    </div>

    <div class="row">
      <div class="cartogram column-medium-66">
        <table class="arrangement">
          <tbody>
            {{#aRows:ar}}
              <tr>
                {{#aColumns:ac}}
                  <td>
                    <div
                      on-tap="selectDistrict:{{ a[f.padLeft(ac) + f.padLeft(ar)] }}"
                      class="grid
                        {{#(a[f.padLeft(ac) + f.padLeft(ar)])}}has-value{{/()}}
                        {{#(district['District'] === a[f.padLeft(ac) + f.padLeft(ar)])}}active{{/()}}
                        {{#filterCompetitive}}filtering{{/filterCompetitive}}
                        pvi-level-{{ p[a[f.padLeft(ac) + f.padLeft(ar)]].pviLevel }}
                      "
                      style="
                        background-color: {{ r(p[a[f.padLeft(ac) + f.padLeft(ar)]].PVI14).hex() }};
                        color: {{ fg(r(p[a[f.padLeft(ac) + f.padLeft(ar)]].PVI14).hex()) }};
                        width: {{ gs }}px;
                        height: {{ gs }}px;
                        font-size: {{ gs * 0.3 }}px;
                        line-height: {{ gs * 0.9 }}px;
                      "
                        title="{{#(a[f.padLeft(ac) + f.padLeft(ar)])}}District {{ a[f.padLeft(ac) + f.padLeft(ar)] }}{{/()}}">
                      {{ f.removeLead(a[f.padLeft(ac) + f.padLeft(ar)]) }}
                    </div>
                  </td>
                {{/aColumns}}
              </tr>
            {{/aRows}}

            <tr class="place-labels">
              <td colspan="8">Greater Minnesota</td>
              <td colspan="{{ aColumns.length - 8 }}">Metro area</td>
            </tr>
          </tbody>
        </table>

        <div class="legend">
          <div class="legend-item">
            <div class="legend-item-color"></div>
            <div class="legend-item-text">
              <strong>PVI</strong>:<br>&nbsp;
            </div>
          </div>

          {{#rc:i}}
            <div class="legend-item">
              <div class="legend-item-color" style="background-color: {{ this }};"></div>

              <div class="legend-item-text">
                {{#(i === 0)}} {{ f.number(Math.abs(rd[i + 1]), 0) }}+ {{/()}}
                {{#(i === rc.length - 1)}} {{ f.number(Math.abs(rd[i]), 0) }}+ {{/()}}
                {{#(i !== rc.length - 1 && i !== 0)}}
                  {{ f.number(Math.abs(rd[i]), 0) }} - {{ f.number(Math.abs(rd[i + 1]), 0) }}
                {{/()}}
                <br>
                {{#(rd[i] < 0) }}DFL{{/()}}
                {{#(rd[i] >= 0) }}R{{/()}}
              </div>
            </div>
          {{/rc}}
        </div>
      </div>

      <div class="district-details column-medium-33">
        {{#(!district && !placeholderSeen)}}
          <p class="details-placeholder em">Click on a district to see <br> PVI and candidate details.</p>
        {{/()}}
        {{#district}}
          <div class="district-display" intro="fade" outro="fade">
            <h3>District {{ f.removeLead(district['District']) }}</h3>

            <p>
              With a PVI of <em>{{ f.number(district['PVI14'], 1) }}</em>,
              district {{ district['District'] }} is

              <strong>
                {{#(district.pviLevel === 1)}}slightly{{/()}}
                {{#(district.pviLevel === 2)}}somewhat{{/()}}
                {{#(district.pviLevel === 3)}}significantly{{/()}}
                {{#(district.pviLevel === 4)}}very{{/()}}

                <span class="color-political-{{ district.pviParty}}">
                  {{#(district.pviParty === 'dfl')}}DFL{{/()}}
                  {{#(district.pviParty === 'r')}}Republican{{/()}}
                </span> leaning.
              </strong>

              {{#district.Incumbent}}
                The
                <span class="color-political-{{ district['Incumbent Party'].toLowerCase() }}">
                  {{ district['Incumbent Party'] }}
                </span>
                incumbent {{ district.Incumbent}}

                who won by a {{ f.number(Math.abs(district.margin12), 1) }} point margin in 2012

                {{#(district.challengers.length === 0)}}
                  will almost certainly win with no challengers.
                {{/()}}

                {{#(district.challengers.length > 0)}}
                  might have

                  {{#(district.pviLevel === 1)}}a very competitive{{/()}}
                  {{#(district.pviLevel === 2)}}a competitive{{/()}}
                  {{#(district.pviLevel === 3)}}an easy{{/()}}
                  {{#(district.pviLevel === 4)}}a very easy{{/()}}

                  race against challenger{{#(district.challengers.length > 1)}}s{{/()}}

                  {{#district.challengers:i}}
                    {{ .name }}
                    (<span class="color-political-{{ .party.toLowerCase() }}">{{ .party }}</span>){{#(i !== district.challengers.length - 1)}},{{/()}}{{/district.challengers}}.
                {{/()}}
              {{/district.Incumbent}}

              {{^district.Incumbent}}
                {{#district.challengers:i}}
                  {{#(.party.toLowerCase() === district.pviParty)}}
                    The
                    <span class="color-political-{{ .party.toLowerCase() }}">{{ .party }}</span>
                    candidate {{ .name }}
                  {{/()}}
                {{/district.challengers:i}}

                {{#(district.challengers.length === 1)}}
                  will almost certainly win with no challengers.
                {{/()}}

                {{#(district.challengers.length > 1)}}
                  might have

                  {{#(district.pviLevel === 1)}}a very competitive{{/()}}
                  {{#(district.pviLevel === 2)}}a competitive{{/()}}
                  {{#(district.pviLevel === 3)}}an easy{{/()}}
                  {{#(district.pviLevel === 4)}}a very easy{{/()}}

                  race against challenger{{#(district.challengers.length > 2)}}s{{/()}}

                  {{#district.challengers:i}}
                    {{#(.party.toLowerCase() !== district.pviParty)}}
                      {{ .name }}
                      (<span class="color-political-{{ .party.toLowerCase() }}">{{ .party }}</span>){{#(i !== district.challengers.length - 1)}}{{/()}}{{/()}}{{/district.challengers}}.
                {{/()}}
              {{/district.Incumbent}}
            </p>

            {{^sizeMedium}}
              {{#district.boundary.simple_shape }}
                <div class="map" decorator="map:{{ this }}"></div>
              {{/district.boundary.simple_shape}}
              {{^district.boundary.simple_shape}}
                <div class="loading-container">
                  <i class="loading"></i> Loading map...
                </div>
              {{/district.boundary.simple_shape}}
            {{/sizeMedium}}
          </div>
        {{/district}}
      </div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Partisan Voting Index (PVI) created by MinnPost using past election results data provided by the Office of the Minnesota Secretary of State.  Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-pvi-map-2014" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>
