<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">
    <div class="row">
      <div class="column-medium-50">
        <table class="arrangement">
          <tbody>
            {{#aRows:ar}}
              <tr>
                {{#aColumns:ac}}
                  <td>
                    <div class="grid {{#(a[f.padLeft(ac) + f.padLeft(ar)])}}has-value{{/()}}">
                      {{ a[f.padLeft(ac) + f.padLeft(ar)] }}
                    </div>
                  </td>
                {{/aColumns}}
              </tr>
            {{/aRows}}
          </tbody>
        </table>
      </div>

      <div class="column-medium-50">

      </div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-pvi-map-2014" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>
