<div class="application-container">
  <div class="message-container"></div>

  <div class="content-container">
    <div class="row">
      <div class="column-medium-66">
        <table class="arrangement">
          <tbody>
            {{#aRows:ar}}
              <tr>
                {{#aColumns:ac}}
                  <td>
                    <div
                      on-tap="selectDistrict:{{ a[f.padLeft(ac) + f.padLeft(ar)] }}"
                      class="grid
                        {{#(a[f.padLeft(ac) + f.padLeft(ar)])}}has-value{{/()}}
                        {{#(district['District'] === a[f.padLeft(ac) + f.padLeft(ar)])}}active{{/()}}
                      "
                      style="
                        background-color: {{ r(p[a[f.padLeft(ac) + f.padLeft(ar)]].PVI14).hex() }};
                        color: {{ fg(r(p[a[f.padLeft(ac) + f.padLeft(ar)]].PVI14).hex()) }};
                        width: {{ gs }}px;
                        height: {{ gs }}px;
                        font-size: {{ gs * 0.3 }}px;
                        line-height: {{ gs * 0.9 }}px;
                      "
                        title="{{#(a[f.padLeft(ac) + f.padLeft(ar)])}}District {{ a[f.padLeft(ac) + f.padLeft(ar)] }}{{/()}}">
                      {{ a[f.padLeft(ac) + f.padLeft(ar)] }}
                    </div>
                  </td>
                {{/aColumns}}
              </tr>
            {{/aRows}}

            <tr class="place-labels">
              <td colspan="8">Greater Minnesota</td>
              <td colspan="{{ aColumns.length - 8 }}">Metro area</td>
            </tr>
          </tbody>
        </table>

        <div class="legend">
          {{#rc:i}}
            <div class="legend-item">
              <div class="legend-item-color" style="background-color: {{ this }};"></div>

              <div class="legend-item-text">
                {{ rd[i] }} - {{ rd[i + 1] }}
              </div>
            </div>
          {{/rc}}
        </div>
      </div>

      <div class="column-medium-33">
        {{#(!district && !placeholderSeen)}}
          <p class="details-placeholder small em">Click on a district to see PVI and candidate details.</p>
        {{/()}}
        {{#district}}
          <div class="district-display" intro="fade" outro="fade">
            <h3>District {{ district['District'] }}</h3>

            <p>Narrative description of district here (instead of table)??</p>

            <table class="striped">
              <tbody>
                <tr><td>PVI</td><td>{{ district['PVI14'] }}</td></tr>
                <tr><td>2012 Margin</td><td>{{ district['margin12'] }}</td></tr>
                <tr>
                  <td>Incumbent</td>
                  <td>{{ district['Incumbent'] }} ({{ district['Incumbent Party'] }})</td>
                </tr>
                <tr>
                  <td>Challenger 1</td>
                  <td>{{ district['Challenger 1'] }} ({{ district['Challenger 1 Party'] }})</td>
                </tr>
                <tr>
                  <td>Challenger 2</td>
                  <td>{{ district['Challenger 2'] }} ({{ district['Challenger 2 Party'] }})</td>
                </tr>
                <tr>
                  <td>Challenger 3</td>
                  <td>{{ district['Challenger 3'] }} ({{ district['Challenger 3 Party'] }})</td>
                </tr>
              </tbody>
            </table>

            {{#district.boundary.simple_shape }}
              <div class="map" decorator="map:{{ this }}"></div>
            {{/district.boundary.simple_shape}}
            {{^district.boundary.simple_shape}}
              <div class="loading-container">
                <i class="loading"></i> Load map here...
              </div>
            {{/district.boundary.simple_shape}}
          </div>
        {{/district}}
      </div>
    </div>

  </div>

  <div class="footnote-container">
    <div class="footnote">
      <p>Partisan Voting Index (PVI) created by MinnPost using past election results data provided by the Office of the Minnesota Secretary of State.  Some code, techniques, and data on <a href="https://github.com/minnpost/minnpost-pvi-map-2014" target="_blank">Github</a>.</p>

    </div>
  </div>
</div>
