/**
 * Main styles for: minnpost-pvi-map-2014
 */

// Variables
$space: 1em;


// This makes the unpublished background not as annoying
body .node-unpublished {
  background-repeat: no-repeat;
}

// Wrap everything for specificity
.mp .minnpost-pvi-map-2014-container {

  .application-container {
    padding-top: 3em;
  }

  table.arrangement {
    margin-bottom: 3em;
    width: auto;

    tr, td {
      margin: 0;
      padding: 0;
      border: none;
      text-align: center;
    }

    td {
      padding: 2px;
    }

    .grid {
      width: 27px;
      height: 27px;
      font-size: 10px;
      line-height: 24px;
      border-radius: 3px;

      &.has-value {
        background-color: #BDBDBD;
        cursor: pointer;
      }
    }
  }

  .legend {
    text-align: center;

    .legend-item {
      display: inline-block;
      width: 10%;
      padding: 3px;

      .legend-item-color {
        height: 0.5em;
      }

      .legend-item-text {
        font-size: 0.75em;
      }
    }
  }

  // Custom breakpoints
  @media screen and (max-width: 768px) {
  }
}
